*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(27, 8, 44);
    color: white;
}

.header{
    display: flex;
}

.yo{
    width: 50%;
    text-align: left;
    padding: 20px;
    background-color: rgb(48, 23, 70);
    font-size: 25px;
    color: rgb(205, 78, 222);
    font-weight: bolder;
}

.datos{
    width: 30%;
    text-align: right;
    padding: 20px;
    background-color: rgb(48, 23, 70);
    font-size: 20px;
    color: rgb(205, 78, 222);
}

.titulos{
    text-align: center;
    margin: 20px 0;
    color: aqua;
}

.titulo2{
    text-align: center;
    margin: 100px 0;
    color: rgb(205, 78, 222);
}

.proyectos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    padding: 40px;
}

.tarjeta{
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    background-color: rgb(48, 23, 70);
    box-shadow: 5px 5px 15px rgba(0, 255, 255, 0.6);
}

.subtitulos{
    text-align: center;
    font-size: 30px;
    color: rgb(123, 19, 214);
    background-color: aqua;
    padding: 30px;
    font-weight: bolder;
}

.nombre{
    font-size: 30px;
    background-color: rgb(48, 23, 70);
    color: rgb(205, 78, 222);
}

.descripcion{
    color: white;
    margin: 30px 0;
    color: rgb(205, 78, 222);
    background-color: rgb(48, 23, 70);
}

.botones{
    text-align: center;
    background-color: rgb(48, 23, 70);
}

.botones a{
    text-decoration: none;
    background-color:aqua;
    color: rgb(184, 47, 202);
    padding: 5px 0;
    display: inline-block;
    width: 50%;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bolder;
    margin: 20px 0;
}

.footer{
    background-color: rgb(48, 23, 70);
    text-align: right;
    padding: 20px;
    font-size: 10px;
}
