*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

/* este apartado es para hacer que se vea como una tarjeta */
.tarjeta{
    margin: 40px auto;
    width: 600px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* esta parte es para cuadrar la parte del encabezado */
.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
    background-color: black;
    color: white;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;

    background:
    linear-gradient(120deg, black 60%, transparent 60%),
    linear-gradient(120deg, white 65%, transparent 65%),
    linear-gradient(120deg, orange 70%, transparent 70%),
    black;
}

/* con esto cuadre el titulo de compañia */
.compañia{
    text-align: center;
    margin-top: 35px;
    font-weight: bolder;
    font-size: 20px;
}

/* con esto puse el titulo de factura para darle color y cuadrar el tamaño de la letra */
.factura{
    color: orange;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 160px;
}

/* esta es la parte de abajo del encabezado, donde van mis datos */
.bloque2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* con esto coloque de color naranja las letras que correspondian de este color */
.naranja{
    color: orange;
}

/* aca agrande mi nombre */
.nombre{
    font-size: 25px;
}

/* esta parte es la estructura de la tabla que va dentro de la factura */
.tabla{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 3px;
    background-color: white;
}

/* esto es el encabezado de la tabla */
.encabezado{
    background-color: orange;
    color: white;
    font-size: 12px;
    font-weight: bolder;
    padding: 10px;
}

/* aca le cambie el color de unas casillas ya que unas iban grises */
.gris{
    background-color: rgb(241, 241, 241);
    padding: 10px;
    font-size: 13px;
}

/* con esto centre unas partes exactas de la tabla */
.centrado{
    text-align: center;
    padding: 10px;
    font-size: 13px;
}

/* aca baje un poco unos textos ya que no estaban centrados */
.bajar{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 13px;
}

/* esto es la parte que va debajo de la tabla */
.bloque3{
    display: grid;
    grid-template-columns: 8fr 1fr;
    margin-top: 20px;
}

/* esto es donde va el total y que sale con una franja naranja */
.bloque4{
    display: grid;
    grid-template-columns: 8fr 1fr;
    margin-top: 20px;
    background-color: orange;
    color: white;
    font-weight: bolder;
    padding: 10px;
}

/* aca va el subtitulo de terminos y condiciones donde le puse negrita y agrande la letra */
.bloque5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 17px;
    font-weight: bolder;
    margin-top: 40px;
}

.linea{
    text-align: end;
}

/* esto es la parte donde va el texto de terminos y condiciones y donde va la firma */
.bloque6{
    display: grid;
    grid-template-columns: 5fr 3fr;
}

/* con esto ajuste unos textos a la derecha de la factura y lo centre con el align self */
.derecha{
    text-align: right;
    align-self: center;
}

/* y esto es el pie de pagina */
.footer{
    background-color: black;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: -20px;
    margin-left: -20px;
    margin-right: -20px;
}


@media (max-width: 650px){

    .tarjeta{
        margin: 40px auto;
        width: 90%;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    
    .header{
        grid-template-columns: 1fr;
        background: black;
    }

    .derecha{
        text-align: center;
        align-items: center;
    }

    .factura{
        text-align: center;
        margin-left: 0px;
    }

    .bloque2{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .bloque3{
        grid-template-columns: 1fr 1fr;
    }

    .bloque4{
        grid-template-columns: 1fr 1fr;
    }

    .tabla{
        overflow-x: auto;
    }
}
 
